extends template/layout

block otherStylesheets
  link(href='/app/static/stylesheets/config.css', rel='stylesheet')

block content
  .container
    h1= title
    h2 Background Type
    div.selectGroups
      div.selectGroup.groupBg#bg-artist Artist
      div.selectGroup.groupBg#bg-album Album
      div.selectGroup.groupBg#bg-transparent Transparent
      div.selectGroup.groupBg#bg-none None
    h2 Background Options
    div.selectGroups
      div.selectGroup.groupBgopt#bgopt-blur Blur
      span.inputLine
        small Default image URL:&nbsp;
          input.inputGroup.groupBgopt#bgopt-default(name='defaultBackground', type='text', size='20', maxlength='300', placeholder='None')
          | &nbsp;
          a.backgroundInputSave.hide(href='#' onclick='return false;')
            i.fas.fa-save.fa-sm
            |  save
    
    .links
      a(href='/')
        | home&nbsp;
        i.fas.fa-home.fa-sm
      a(href='/app/hue')
        | hue settings&nbsp;
        i.fas.fa-lightbulb.fa-sm

block otherJavascripts
  script(src='/app/static/javascripts/utility/general.js')
  script(src='/app/static/javascripts/config.js')
